*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F9F7F7;
  cursor: url('/images/gam1555.png') 8 8, auto;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
   appearance: none;
}

input{
    padding: 7px;
    outline: none;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #3F72AF;
    transition: .2 ease-in;
}

input:hover, input:focus{
    transition: .2 ease;
    border-color: #3f71af67;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

h2{
    color: #112D4E;
}

button{
    padding: 10px 20px;
    background-color: #112D4E;
    color: white;
    border-radius: 7px;
    border: none;
}

button:hover, button:focus{
    transition: .2 ease-in;
    background-color: #112d4eb6;
}

p{
    position: absolute;
    top: 70%;
    color: #3F72AF;
}

span{
    color: black;
}


